@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Gilroy', Arial, sans-serif;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


@layer base {

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  .recharts-responsive-container {
    height: initial !important;
  }


  :root {
    --background: 0 0% 96.5%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
    
    
  }
  .dark {
    --background: 235 39.4% 12.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Customowe klasy do stylowania  */

@layer utilities {

  .header-1 {
    @apply tracking-[1px] text-[15px]
  }

  .form-subtitle {
    @apply font-bold text-gray-400 text-[12px] w-full flex justify-end cursor-pointer
  }

  .form-subtitle-1 {
    @apply font-bold text-gray-400 text-[12px] w-full flex cursor-pointer
  }

  .hero-1 {
    @apply dark:leading-[47px] leading-[47px]
  }

  .mobile-nav-list {
    @apply flex flex-1 flex-col gap-4
  }

  .mobile-nav-item {
    @apply flex gap-4 w-full justify-start items-center px-6 h-[52px] rounded-full !important
  }

  /* Overridy do styli ShadcnUI */

  .shad-form-button {
    @apply bg-[#4461F2] hover:bg-blue-500 rounded-[10px] font-bold shadow-[0_2px_8px_rgba(68,_97,_242,_0.7)] dark:shadow-[0_2px_4px_rgba(68,_97,_242,_0.7)] py-6 dark:text-white !important
  }
  .shad-form-input {
    @apply bg-[#EAF0F7] dark:bg-[#EAF0F7] dark:placeholder:text-gray-500 focus:ring-[#EAF0F7] py-6 focus:border-none !important
  }

  .auth-option {
    @apply bg-transparent dark:bg-white border shadow-none hover:scale-110 transition-all duration-200 ease-out !important
  }

  .selected-auth-option {
    @apply bg-white shadow-xl hover:scale-110 transition-all duration-200 ease-out !important
  }

  .shad-active {
    @apply bg-[#4461F2]/30 text-[#4461F2] font-bold !important
  }

  .nav-icon {
    @apply text-red-500
  }

  .nav-icon-active {
    @apply text-[#4461F2]
  }
  .fc-daygrid-day {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .fc-daygrid-event {
    color: #fff;
    padding: 5px;
    border-radius: 4px;
  }

  .calendar-toDay-button {
    @apply bg-gray-300 text-black mx-1 import
  }

  
  
  
}

 /* Stylizacja kalendarza */
.react-calendar {
  background-color: #f9fafb; /* Jasnoszary */
  border: 1px solid #e5e7eb; /* Szary border */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.react-calendar__tile {
  color: #1f2937; /* Kolor tekstu */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.react-calendar__tile--active {
  background-color: #4CAF50; /* Zielony */
  color: white;
}

.react-calendar__tile:hover {
  background-color: #34D399; /* Jasny zielony na hover */
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: bold;
  color: #6b7280; /* Szary tekst */
}

.fc-button {
  background-color: #fafafa !important; /* Standardowy kolor */
  color: gray !important; /* Standardowy tekst */
  font-weight: bold !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  
}

.fc-button-active {
  background-color: #e70707 !important; /* Kolor aktywnego przycisku */
  color: white !important; /* Tekst aktywnego przycisku */
  border-radius: 5px !important;
}

.fc-media-screen {
  background-color: #ffffff !important;
}

.fc-today-button {
  font-weight: lighter !important;
  color: rgb(37, 37, 37) !important;
}

.fc-col-header-cell, .fc-daygrid-day {
  height: 100px; /* Wyrównanie wysokości */
  min-height: 100px; /* Minimalna wysokość */
  box-sizing: border-box; /* Uwzględnienie paddingu w rozmiarze */
}

.fc-timegrid-slot {
  height: 50px; /* Wysokość każdej godziny */
}

.fc-view {
  height: 100%; /* Rozciągnięcie widoku na całą dostępną przestrzeń */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr; /* Sidebar 1/5 szerokości, kalendarz 4/5 */
  height: 100vh; /* Pełna wysokość widoku */
}

.sidebar {
  background-color: #1a202c; /* Kolor tła sidebara */
  overflow-y: auto; /* Przewijanie dla dużej listy wydarzeń */
}

.calendar {
  padding: 1rem; /* Margines wokół kalendarza */
  background-color: #f7fafc; /* Kolor tła kalendarza */
}

.fc-event {
  white-space: normal !important; /* Pozwala na zawijanie tekstu */
  word-wrap: break-word; /* Złamie długie słowa */
  text-overflow: ellipsis; /* Dodaje "..." w przypadku nadmiaru tekstu */
  overflow: hidden; /* Ukrywa nadmiar tekstu */
  padding: 4px; /* Daje trochę przestrzeni wewnątrz wydarzenia */
  font-size: 12px; /* Możesz dostosować rozmiar tekstu */
}

.fc-timegrid-slot-label-cushion {
font-weight: bold;
}

.fc-timeGrid-axis {
  text-transform: capitalize !important; /* Pierwsza litera duża */
  font-size: 14px !important;/* Zmiana rozmiaru tekstu */
  margin-right: 5px !important; /* Dodanie odstępu */
  color: #333; /* Zmiana koloru */
}